{{ 'base.css' | asset_url | stylesheet_tag }}
{{ 'nav.css' | asset_url | stylesheet_tag }}
{{ 'button.css' | asset_url | stylesheet_tag }}

<div class='navbar_component'>
  <div class='container-medium'>
    <div class='nav_wrapper'>
      <div class='nav-content'>
        <!-- LOGO -->
        <a href='#' class='navbar_logo-link w-nav-brand'>
          <img
            width='132'
            height='30'
            alt='Musashi Challenge homepage logo link'
            src='{{ 'musashi-logo.svg' | asset_url }}'
            loading='lazy'
            class='navbar_logo'
          >
        </a>
        <!-- NAVIGATION MENU -->
        <div class='navbar_links'>
          <div class='navbar_link-wrapper'>
            <a href='#section-pricing' class='navbar_link w-nav-link'>Home</a>
          </div>
          <div class='navbar_link-wrapper'>
            <a href='#section-pricing' class='navbar_link w-nav-link'>Summary</a>
          </div>
          <div class='navbar_link-wrapper'>
            <a href='#section-pricing' class='navbar_link w-nav-link'>Pricing</a>
          </div>
          <div class='navbar_link-wrapper'>
            <a href='#section-pricing' class='navbar_link w-nav-link'>FAQ</a>
          </div>
        </div>
        <!-- CALL TO ACTION -->
        <div class='navbar_button-wrapper'>
          <a
            href='https://app.sitekeep.com?user=admin_signup'
            class='button is-default w-inline-block'
          >
            <div class='button is-nav'>
              <div class='text-size-medium is-primary'>Get Pack</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
