<section class='section_stakes'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='line-wrapper'>
        <div class='line-long'></div>
      </div>
      <div class='content-wrapper is-stakes'>
        <div class='spacer-xhuge'></div>
        <div class='stakes_header'>
          <div class='max-width-medium'>
            <h2 class='heading-style-h3 text-align-center'>
              <span>Ending the Noise.</span>
            </h2>
          </div>
          <div data-figma-id='8779:19264' class='stakes_body'>
            <div class='max-width-small'>
              <p class='text-size-medium text-align-center'>
                You don’t need louder advice. You need a system that holds even when life doesn’t.
              </p>
            </div>
          </div>
        </div>
        <div class='spacer-large'></div>
        <div class='stakes_container'>
          <div data-figma-id='8814:23461' class='stakes_item is-first'>
            <div data-figma-id='8814:23462' class='stakes_item-content'>
              <h3 data-figma-id='8814:23464' class='heading-style-h6 is-stakes'>
                From Chaos
                <span class='text-size-large is-stakes'>(Old Way)</span>
              </h3>
              <div data-figma-id='8814:23465' class='stakes_list'>
                <div data-figma-id='8814:23466' class='stakes_list-item'>
                  <div data-figma-id='8814:23467' class='stakes_icon'>
                    <img
                      src='images/red-x-icon.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    Scrolling through endless “guru”
                    <strong>advice that never sticks.</strong>
                  </p>
                </div>
                <div data-figma-id='8814:23474' class='stakes_list-item'>
                  <div data-figma-id='8814:23475' class='stakes_icon'>
                    <img
                      src='images/red-x-icon.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    Waking up with good intentions only to end
                    <strong>lost in distraction.</strong>
                  </p>
                </div>
                <div data-figma-id='8814:23482' class='stakes_list-item'>
                  <div data-figma-id='8814:23483' class='stakes_icon'>
                    <img
                      src='images/red-x-icon.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    Feeling unstoppable, only to
                    <strong>losemotivation a week in.</strong>
                  </p>
                </div>
              </div>
            </div>
            <img
              src='images/corner_top-left.svg'
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src='images/corner_bottom-left.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-left hide-on-mobile'>
            <img
              src='images/corner_top-right.svg'
              loading='lazy'
              alt=''
              class='corner is-top-right is-mobile'>
          </div>
          <div data-figma-id='8814:23461' class='stakes_item is-last'>
            <div data-figma-id='8814:23462' class='stakes_item-content'>
              <h3 data-figma-id='8814:23464' class='heading-style-h6 is-stakes'>
                To Discipline
                <span class='text-size-large is-stakes'>(Musashi Way)</span>
              </h3>
              <div data-figma-id='8814:23465' class='stakes_list'>
                <div data-figma-id='8814:23466' class='stakes_list-item'>
                  <div data-figma-id='8814:23467' class='stakes_icon'>
                    <img
                      src='images/check-circle.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    You get a clear 5-weeks path that helps you
                    <strong>stay on track.</strong>
                  </p>
                </div>
                <div data-figma-id='8814:23474' class='stakes_list-item'>
                  <div data-figma-id='8814:23475' class='stakes_icon'>
                    <img
                      src='images/check-circle.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    You get daily guidance so
                    <strong>you know exactly what to do next.</strong>
                  </p>
                </div>
                <div data-figma-id='8814:23482' class='stakes_list-item'>
                  <div data-figma-id='8814:23483' class='stakes_icon'>
                    <img
                      src='images/check-circle.svg'
                      loading='lazy'
                      alt=''
                      class='stakes_icon-info'>
                  </div>
                  <p class='text-size-regular'>
                    You build
                    <strong>habits hold</strong>
                    because they don’t rely on “feeling ready”.
                  </p>
                </div>
              </div>
            </div>
            <img
              src='images/corner_bottom-left.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-left hide-desktop'>
            <img
              src='images/corner_bottom-right.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
            <img
              src='images/corner_top-right.svg'
              loading='lazy'
              alt=''
              class='corner is-top-right hide-on-mobile'>
            <img
              src='images/corner_bottom-left.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-left is-mobile'>
          </div>
        </div>
        <div class='spacer-medium'></div>
        <div class='button-group'>
          <div class='button-wrapper'>
            <a href='#section-pricing' class='button is-default w-inline-block'>
              <div class='button_line is-top'></div>
              <div class='button_content'>
                <div class='text-size-regular is-primary'>Get Pack</div>
              </div>
              <div class='button_line is-bottom'></div>
            </a>
          </div>
        </div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='line-wrapper'>
        <div class='line-long'></div>
      </div>
    </div>
  </div>
</section>