<section id='section-lead-gen' class='section_lead-gen'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='mid-line'></div>
      <div class='content-wrapper is-lead-gen'>
        <div class='spacer-xhuge'></div>
        <div class='lead-gen_container'>
          <div class='lead-gen_header'>
            <div class='lead-gen_description'>
              <div class='max-width-xsmall'>
                <h2 class='heading-style-h3 is-cta-headline'>
                  <span>Want a sneak peek at no cost?</span>
                </h2>
              </div>
              <div class='lead-gen_item-group'>
                <div data-figma-id='8716:32185' class='lead-gen_items'>
                  <img
                    class='lead-gen_icon-check is-centered'
                    src='images/pricing-check-circle.svg'
                    data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                    alt=''
                    data-figma-id='8924:7649'
                    data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                    loading='lazy'>
                  <p data-figma-id='8716:32190' class='text-size-medium'>
                    <strong>38 starter pages</strong>
                    of the eBook (PDF format)
                  </p>
                </div>
                <div data-figma-id='8716:32185' class='lead-gen_items'>
                  <img
                    class='lead-gen_icon-check'
                    src='images/pricing-check-circle.svg'
                    data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                    alt=''
                    data-figma-id='8924:7649'
                    data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                    loading='lazy'>
                  <p data-figma-id='8716:32190' class='text-size-medium'>
                    The matching Notion Pocket Journal chapters to start applying what you learn right away
                  </p>
                </div>
              </div>
            </div>
            <div data-figma-id='8814:23461' class='lead-gen_item is-hide-on-desktop'>
              <div data-figma-id='8814:23462' class='lead-gen_item-content'>
                <img
                  src='images/lead-generator-mockup.webp'
                  loading='lazy'
                  sizes='100vw'
                  srcset='images/lead-generator-mockup-p-500.webp 500w, images/lead-generator-mockup-p-800.webp 800w, images/lead-generator-mockup-p-1080.webp 1080w, images/lead-generator-mockup.webp 1146w'
                  alt=''
                  class='lead-gen_asset'>
              </div>
              <img
                src='images/corner_bottom-left.svg'
                loading='lazy'
                alt=''
                class='corner is-bottom-left'>
              <img
                src='images/corner_top-left.svg'
                loading='lazy'
                alt=''
                class='corner is-top-left'>
              <img
                src='images/corner_top-right.svg'
                loading='lazy'
                alt=''
                class='corner is-top-right'>
              <img
                src='images/corner_bottom-right.svg'
                loading='lazy'
                alt=''
                class='corner is-bottom-right'>
            </div>
            <div class='form w-form'>
              <form
                id='email-form'
                name='email-form'
                data-name='Email Form'
                method='get'
                class='lead-gen_form'
                data-wf-page-id='67e1854c2284fc148a18b800'
                data-wf-element-id='30205ab1-eee6-c5c5-d96f-5a2695e0f0a9'>
                <div class='form_fields-container'>
                  <div class='form_name-wrapper'>
                    <div class='form_field-wrapper'>
                      <label for='first-name' class='field-label'>First Name</label>
                      <input
                        class='form-input w-input'
                        maxlength='256'
                        name='name'
                        data-name='Name'
                        placeholder=''
                        type='text'
                        id='first-name'
                        required=''>
                    </div>
                    <div class='form_field-wrapper'>
                      <label for='last-name' class='field-label'>Last Name</label>
                      <input
                        class='form-input w-input'
                        maxlength='256'
                        name='name'
                        data-name='Name'
                        placeholder=''
                        type='text'
                        id='last-name'
                        required=''>
                    </div>
                  </div>
                  <div class='form_field-wrapper'>
                    <label for='email-address' class='field-label'>Email Address</label>
                    <input
                      class='form-input w-input'
                      maxlength='256'
                      name='name'
                      data-name='Name'
                      placeholder=''
                      type='email'
                      id='email-address'
                      required=''>
                  </div>
                </div>
                <div class='button is-default'>
                  <div class='button_line is-bottom'></div>
                  <input
                    type='submit'
                    data-wait='Please wait...'
                    class='button is-form w-button'
                    value='Get Free Sample (38 pages)'>
                  <div class='button_line is-top'></div>
                </div>
              </form>
              <div class='success-message w-form-done'>
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class='error-message w-form-fail'>
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div data-figma-id='8814:23461' class='lead-gen_item is-hide-on-mobile'>
            <div data-figma-id='8814:23462' class='lead-gen_item-content'>
              <img
                src='images/lead-generator-mockup.webp'
                loading='lazy'
                sizes='100vw'
                srcset='images/lead-generator-mockup-p-500.webp 500w, images/lead-generator-mockup-p-800.webp 800w, images/lead-generator-mockup-p-1080.webp 1080w, images/lead-generator-mockup.webp 1146w'
                alt=''
                class='lead-gen_asset'>
            </div>
            <img
              src='images/corner_bottom-left.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-left'>
            <img
              src='images/corner_top-left.svg'
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src='images/corner_top-right.svg'
              loading='lazy'
              alt=''
              class='corner is-top-right'>
            <img
              src='images/corner_bottom-right.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
          </div>
        </div>
        <div class='spacer-medium'></div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='mid-line'></div>
    </div>
  </div>
</section>