<div class="page-wrapper">
  <main class="main-wrapper">
    <section class="section_legal">
      <div class="padding-global">
        <div class="container-large is-line">
          <div class="line-wrapper">
            <div class="line-long"></div>
            <div class="line-short"></div>
            <div class="line-long"></div>
          </div>
          <div class="content-wrapper is-policies">
            <div class="spacer-xhuge"></div>
            <div class="max-width-medium">
              <div class="header_component is-legal">
                <div class="max-width-small">
                  <p class="text-size-medium is-policy-update">Current as of October 16, 2025</p>
                </div>
                <div class="max-width-medium">
                  <h2 class="heading-style-h3">Shopping Policy</h2>
                </div>
              </div>
            </div>
            <div class="spacer-xlarge"></div>
            <div class="max-width-medium">
              <div class="text-rich-text w-richtext">
                <h1>Shipping Policy</h1>
                <h2>Digital Product Delivery</h2>
                <p>Digital products (e.g., ebooks, audiobooks, challenges) are delivered instantly via email upon payment confirmation. If the product email is not received within a few minutes, please check your spam or junk folder. If issues persist, email us at support@musashichallenge.com.</p>
                <h2>International Reach</h2>
                <p>We sell and ship our products to most countries, and you find the complete list below.</p>
                <h2>Shipping Time</h2>
                <p>
                  <strong>Delivery Time:</strong>
                  Handling time + Transit time</p>
                <p>
                  <strong>Handling time:</strong>
                  1–3 business days (Monday to Friday)<em>All items require handling time for production before shipping.</em>
                </p>
                <p>
                  <strong>Order Cut-Off Time:
                  </strong>The cutoff time is 03:00 PM (GMT+02:00); orders placed after that, or on holidays/weekends, process the next business day.</p>
                <h2>Shipping Rates and Transit Times</h2>
                <p>
                  <strong>A. North America (and Caribbean Territories)</strong>
                </p>
                <p>(Includes Anguilla, Antigua &amp; Barbuda, Aruba, the Bahamas, Barbados, Belize, Bermuda, the British Virgin Islands, Canada, the Caribbean Netherlands, the Cayman Islands, Costa Rica, Curaçao, Dominica, the Dominican Republic, El Salvador, Greenland, Grenada, Guadeloupe, Guatemala, Haiti, Honduras, Jamaica, Martinique, Mexico, Montserrat, Nicaragua, Panama, Sint Maarten, St. Barthélemy, St. Kitts &amp; Nevis, St. Lucia, St. Martin, St. Pierre &amp; Miquelon, St. Vincent &amp; the Grenadines, Trinidad &amp; Tobago, the Turks &amp; Caicos Islands, and the United States.)
                  <table class="table_component">
                    <thead class="table_head">
                      <tr class="table_row">
                        <th class="table_header">Shipping Option</th>
                        <th class="table_header">Transit Time</th>
                        <th class="table_header">Order Condition</th>
                        <th class="table_header">Shipping Charge (USD)</th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders under $50.00</td>
                        <td class="table_cell">$8.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders $50.00 and above</td>
                        <td class="table_cell">FREE</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Ground</td>
                        <td class="table_cell">8–10 business days</td>
                        <td class="table_cell">All Orders</td>
                        <td class="table_cell">$25.99</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">7–9 business days</td>
                        <td class="table_cell">All Orders</td>
                        <td class="table_cell">$39.99</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <p>
                  <strong>B. International (Europe, Australia, and Key Asia/Middle East)</strong>
                </p>
                <p>(Includes the United Arab Emirates, Austria, Australia, Belgium, Switzerland, Czechia, Germany, Denmark, Spain, Finland, France, the United Kingdom, Hong Kong SAR, Ireland, Israel, Italy, Japan, South Korea, Malaysia, the Netherlands, Norway, New Zealand, Poland, Portugal, Sweden, Singapore, Romania, and the surrounding European countries listed.)
                  <table class="table_component">
                    <thead class="table_head">
                      <tr class="table_row">
                        <th class="table_header">Shipping Option</th>
                        <th class="table_header">Transit Time</th>
                        <th class="table_header">Order Condition</th>
                        <th class="table_header">Shipping Charge (USD)</th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders under $50.00</td>
                        <td class="table_cell">$12.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders $50.00 and above</td>
                        <td class="table_cell">FREE</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Ground</td>
                        <td class="table_cell">8–10 business days</td>
                        <td class="table_cell">All Orders</td>
                        <td class="table_cell">$25.99</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">7–9 business days</td>
                        <td class="table_cell">All Orders</td>
                        <td class="table_cell">$39.99</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <p>
                  <strong>C. South America (and Pacific Islands)</strong>
                </p>
                <p>(Includes all South American countries, plus the Pacific Ocean Islands and Territories listed: Christmas Island, Cocos (Keeling) Islands, Cook Islands, Fiji, French Polynesia, Kiribati, Nauru, New Caledonia, Niue, Norfolk Island, Papua New Guinea, Pitcairn Islands, Samoa, Solomon Islands, Tokelau, Tonga, Tuvalu, U.S. Outlying Islands, Vanuatu, and Wallis &amp; Futuna.)
                  <table class="table_component">
                    <thead class="table_head">
                      <tr class="table_row">
                        <th class="table_header">Shipping Option</th>
                        <th class="table_header">Transit Time</th>
                        <th class="table_header">Order Condition</th>
                        <th class="table_header">Shipping Charge (USD)</th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders under $50.00</td>
                        <td class="table_cell">$25.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders $50.00 and above</td>
                        <td class="table_cell">FREE</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <p>
                  <strong>D. Asia (Weight-Based Rates)<br></strong>
                </p>
                <p>(Includes Afghanistan, Armenia, Azerbaijan, Bahrain, Bangladesh, Bhutan, Brunei, Cambodia, China, Cyprus, Georgia, India, Indonesia, Iraq, Jordan, Kazakhstan, Kuwait, Kyrgyzstan, Laos, Lebanon, Macao SAR, Maldives, Mongolia, Myanmar (Burma), Nepal, Oman, Pakistan, Palestinian Territories, Philippines, Qatar, Saudi Arabia, Sri Lanka, Taiwan, Tajikistan, Thailand, Timor-Leste, Türkiye, Turkmenistan, Uzbekistan, Vietnam, and Yemen.)
                  <table class="table_component">
                    <thead class="table_head">
                      <tr class="table_row">
                        <th class="table_header">Shipping Option</th>
                        <th class="table_header">Transit Time</th>
                        <th class="table_header">Weight Condition</th>
                        <th class="table_header">Shipping Charge (USD)</th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">8–15 business days</td>
                        <td class="table_cell">0.01 kg to 0.99 kg</td>
                        <td class="table_cell">$14.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">8–15 business days</td>
                        <td class="table_cell">1 kg to 2 kg</td>
                        <td class="table_cell">$19.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">8–15 business days</td>
                        <td class="table_cell">Orders $50.00 and up</td>
                        <td class="table_cell">FREE</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">4–9 business days</td>
                        <td class="table_cell">0.01 kg to 0.99 kg</td>
                        <td class="table_cell">$24.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">4–9 business days</td>
                        <td class="table_cell">1 kg to 2 kg</td>
                        <td class="table_cell">$32.00</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <p>
                  <strong>E. Africa (Weight-Based Rates)<br></strong>
                </p>
                <p>(Includes all African Countries and Territories listed.)</p>
                <p>
                  <table class="table_component">
                    <thead class="table_head">
                      <tr class="table_row">
                        <th class="table_header">Shipping Option</th>
                        <th class="table_header">Transit Time</th>
                        <th class="table_header">Weight Condition</th>
                        <th class="table_header">Shipping Charge (USD)</th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">0.01 kg to 0.5 kg</td>
                        <td class="table_cell">$24.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">0.51 kg to 1 kg</td>
                        <td class="table_cell">$39.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">1.01 kg to 1.5 kg</td>
                        <td class="table_cell">$52.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Standard</td>
                        <td class="table_cell">10–15 business days</td>
                        <td class="table_cell">Orders $50.00 and up</td>
                        <td class="table_cell">FREE</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">7–9 business days</td>
                        <td class="table_cell">0.01 kg to 1 kg</td>
                        <td class="table_cell">$59.00</td>
                      </tr>
                      <tr class="table_row">
                        <td class="table_cell">Express</td>
                        <td class="table_cell">7–9 business days</td>
                        <td class="table_cell">1.01 kg to 1.5 kg</td>
                        <td class="table_cell">$99.00</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <h2>Tracking</h2>
                <p>Once we hand your product to (DHL/FedEx/UPS), you get a tracking link on your email, and you can use that link to track your order. If you do not receive your tracking link or cannot track your order, please email us at support@musashichallenge.com.</p>
                <h2>Customs &amp; Duties</h2>
                <p>You are responsible for any customs fees. We are not liable for delays caused by carriers or customs, but we always ship your order on schedule.</p>
                <h2>Customer Happiness</h2>
                <p>Our goal is to deliver smiles along with your order. If you ever have any questions or concerns, our customer support team is here to assist you.Remember, at Musashi Challenge, we&#x27;re not just in the business of books or discipline building; we&#x27;re focused on delivering an excellent experience right to your door. Ready to order? Just click to buy! We immediately process your order and ship your package within 3 business days.</p>
                <h1>Refund Policy</h1>
                <p>
                  <strong>Digital products are final sale and not eligible for returns or refunds.</strong>
                </p>
                <p>At Musashi Challenge, we sell products that build discipline in your life. At Musashi Challenge, we only accept returns for damaged goods and we only offer exchanges for shipping errors.</p>
                <h2>Refunds (Damaged Items Only)</h2>
                <p>We do not give refunds or accept returns if you change your mind about your purchase. We refund an item only if it arrives damaged or defective.</p>
                <h3>How to Claim a Refund for Damage</h3>
                <ol start="" role="list">
                  <li>
                    <strong>Notification:</strong>
                    You must tell us within 7 calendar days of receiving your order if the item is damaged.</li>
                  <li>
                    <strong>Evidence:</strong>
                    You send us clear photos of the damage to the product and the original shipping box.</li>
                  <li>
                    <strong>Action:</strong>
                    You email us right away at support@musashichallenge.com with the subject: &quot;DAMAGED ITEM - Order #[Order Number]&quot; and include the photos.</li>
                  <li>
                    <strong>Next Steps:</strong>
                    We review the damage and email you instructions. We then process your refund upon our instruction.</li>
                </ol>
                <h2>Exchanges</h2>
                <p>We do not accept exchanges unless we send you the wrong product by mistake.</p>
                <h3>How to Request an Exchange (If We Made a Mistake)</h3>
                <ol start="" role="list">
                  <li>
                    <strong>Notification:
                    </strong>You must tell us within 7 calendar days if you receive the wrong item.</li>
                  <li>
                    <strong>Evidence:</strong>
                    You show us clear photos of the item you receive versus the item on your order confirmation.</li>
                  <li>
                    <strong>Action:</strong>
                    If we approve your claim, we send you the correct item for free. We also send you a shipping label to return the incorrect product.</li>
                </ol>
                <h2>Final Sale Items</h2>
                <p>All products are final sales. You cannot return or exchange the following items:</p>
                <ul role="list">
                  <li>Opened or used products.</li>
                  <li>Items where you do not report the damage or error within the 7-day window.</li>
                  <li>Items you order by mistake.</li>
                </ul>
                <h2>Processing Refunds</h2>
                <p>If we approve your damage claim, we process your refund. The credit automatically goes back to your original payment method within 14 days.</p>
                <h2>Contact Us</h2>
                <p>Our customer service is available Monday to Friday, from 9:00 a.m. to 6:00 p.m. If you have a problem, please contact us; we answer within 24 hours.</p>
                <ul role="list">
                  <li>Email: support@musashichallenge.com</li>
                  <li>Phone: +40 744 935 141</li>
                  <li>Address: Cosașilor 3, Block 1, 2nd Floor, Apartment 23, 400627 Cluj-Napoca, Cluj, Romania</li>
                </ul>
              </div>
            </div>
            <div class="spacer-xhuge"></div>
          </div>
          <div class="line-wrapper">
            <div class="line-long"></div>
            <div class="line-short"></div>
            <div class="line-long"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>