<div
  data-collapse="medium"
  data-animation="over-right"
  data-duration="400"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar_component w-nav">
  <div class="container-large">
    <div class="nav_component">
      <div class="nav_wrapper">
        <div class="nav-content">
          <a href="index.html" class="navbar_logo-link w-nav-brand"><img
              width="132"
              height="30"
              alt=""
              src="images/statue-logo.svg"
              loading="lazy"
              class="navbar_logo"></a>
          <div class="navbar_links">
            <div class="navbar_link-wrapper">
              <a href="#" class="navbar_link w-nav-link">Home</a>
            </div>
            <div class="navbar_link-wrapper">
              <a href="#" class="navbar_link w-nav-link">Summary</a>
            </div>
            <div class="navbar_link-wrapper">
              <a href="#" class="navbar_link w-nav-link">Pricing</a>
            </div>
            <div class="navbar_link-wrapper">
              <a href="#" class="navbar_link w-nav-link">FAQ</a>
            </div>
          </div>
          <div class="navbar_cta-group">
            <div class="navbar_button-wrapper">
              <a href="#" class="button is-default w-inline-block">
                <div class="button_line is-top"></div>
                <div class="button_content is-nav">
                  <div class="text-size-regular is-primary">Get Pack</div>
                </div>
                <div class="button_line is-bottom"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-embed"></div>
<div class="page-wrapper">
  <main class="main-wrapper">
    <section class="section_legal">
      <div class="padding-global">
        <div class="container-large is-line">
          <div class="line-wrapper">
            <div class="line-long"></div>
            <div class="line-short"></div>
            <div class="line-long"></div>
          </div>
          <div class="content-wrapper is-policies">
            <div class="spacer-xhuge"></div>
            <div class="max-width-medium">
              <div class="header_component is-legal">
                <div class="max-width-small">
                  <p class="text-size-medium">Current as of October 16, 2025</p>
                </div>
                <div class="max-width-medium">
                  <h2 class="heading-style-h3">Terms of Service</h2>
                </div>
              </div>
            </div>
            <div class="spacer-xlarge"></div>
            <div class="max-width-medium">
              <div class="text-rich-text w-richtext">
                <h2>Overview</h2>
                <p>Welcome to www.musashichallenge.com! The terms “we,” “us,” and “our” refer to Musashi Challenge. Musashi Challenge operates this store and website, including all related information, content, features, tools, products, and services to provide you, the customer, with a curated shopping experience (the “Services”). Musashi Challenge is powered by Shopify, which enables us to provide these Services to you.</p>
                <p>The terms and conditions below, together with any policies referenced herein (these “Terms of Service” or “Terms”), describe your rights and responsibilities when you use the Services.</p>
                <p>Please read these Terms of Service carefully, as they include important information about your legal rights and cover areas such as warranty disclaimers and limitations of liability.</p>
                <p>By visiting, interacting with, or using our Services, you agree to be bound by these Terms of Service and our
                  <a href="https://www.musashichallenge.com/policies/privacy-policy">Privacy Policy</a>. If you do not agree to these Terms of Service or Privacy Policy, you should not use or access our Services.</p>
                <h2>Section 1 - Access and Account</h2>
                <p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, and you have given us your consent to allow any of your minor dependents to use the Services on devices you own, purchase, or manage.</p>
                <p>To use the Services, including accessing or browsing our online stores or purchasing any of the products or services we offer, you may be asked to provide certain information, such as your email address, billing, payment, and shipping information. You represent and warrant that all the information you provide in our stores is correct, current, and complete and that you have all rights necessary to provide this information.</p>
                <p>You are solely responsible for maintaining the security of your account credentials and for all of your account activity. You may not transfer, sell, assign, or license your account to any other person.</p>
                <h2>Section 2 - Our Products</h2>
                <p>We have made every effort to provide an accurate representation of our products and services in our online stores. However, please note that colors or product appearance may differ from how they may appear on your screen due to the type of device you use to access the store and your device settings and configuration.</p>
                <p>We don&#x27;t guarantee that the quality or appearance of any products or services you buy will meet your expectations or match what you see in our online stores.</p>
                <p>All descriptions of products are subject to change at any time without notice at our sole discretion. We reserve the right to discontinue any product at any time and may limit the quantities of any products that we offer to any person, geographic region, or jurisdiction on a case-by-case basis.</p>
                <h2>Section 3 - Orders</h2>
                <p>When you place an order, you are making an offer to purchase. Musashi Challenge reserves the right to accept or decline your order for any reason at its discretion. Your order is not accepted until Musashi Challenge confirms acceptance. We must receive and process your payment before your order is accepted. Please review your order carefully before submitting, as Musashi Challenge may be unable to accommodate cancellation requests after an order is accepted. If we do not accept, make a change to, or cancel an order, we will attempt to notify you by contacting the e‑mail, billing address, and phone number provided at the time the order was made.</p>
                <p>Your purchases are subject to return or exchange solely in accordance with our
                  <a href="https://www.musashichallenge.com/policies/refund-policy">Refund Policy</a>.</p>
                <p>You represent and warrant that your purchases are for your personal or household use and not for commercial resale or export.</p>
                <h2>Section 4 - Prices and Billing</h2>
                <p>Prices, discounts, and promotions are subject to change without notice. The price charged for a product or service will be the price in effect at the time the order is placed and it will be set out in your order confirmation email. Unless otherwise expressly stated, posted prices do not include taxes, shipping, handling, customs, or import charges.</p>
                <p>Prices posted in our online stores may be different from prices offered in physical stores, online, or in other stores operated by third parties. We may offer, occasionally, promotions on the Services that may affect pricing and that are governed by terms and conditions separate from these Terms. In the event of a conflict between the promotion terms and these terms, the promotion terms will take precedence.</p>
                <p>You agree to provide current, complete, and accurate purchase, payment, and account information for all purchases made at our stores. You agree to promptly update your account and other information, including your email address, credit card numbers, and expiration dates, so that we can complete your transactions and contact you as needed.</p>
                <p>You represent and warrant that.</p>
                <p>The credit card information you provide is true, correct, and complete. You are duly authorized to use such a credit card for the purchase. Charges incurred by you will be honored by your credit card company, and You are responsible for paying all charges incurred, including the posted prices, shipping and handling fees, and any applicable taxes.</p>
                <ul role="list">
                  <li>The credit card information you provide is true, correct, and complete.</li>
                  <li>You are duly authorized to use such a credit card for the purchase.</li>
                  <li>Charges incurred by you will be honored by your credit card company, and</li>
                  <li>You are responsible for paying all charges incurred, including the posted prices, shipping and handling fees, and any applicable taxes.</li>
                </ul>
                <h2>Section 5 - Shipping and Delivery</h2>
                <p>We are not liable for shipping and delivery delays. All delivery times are estimates only and are not guaranteed. We are not responsible for delays caused by shipping carriers, customs processing, or events outside our control. Once we transfer products to the carrier, title and risk of loss pass to you.</p>
                <h2>Section 6 - Intellectual Property</h2>
                <p>Our services, which include trademarks, brands, text, displays, images, graphics, product reviews, video, and audio, as well as how they are designed and arranged, belong to Musashi Challenge, its affiliates, or licensors and are protected by U.S. and international patent, copyright, and other intellectual property laws.</p>
                <p>These Terms permit you to use the Services for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, openly perform, republish, download, store, or transmit any of the material on the Services without our prior written consent. Except as expressly provided herein, nothing in these terms grants or shall be construed as granting a license or other rights to you under any patent, trademark, copyright, or other intellectual property of Musashi Challenge, Shopify, or any third party. Unauthorized use of the services may be a violation of federal and state intellectual property laws. All rights not expressly granted herein are reserved by Musashi Challenge.</p>
                <p>Musashi Challenge’s names, logos, product and service names, designs, and slogans are trademarks of Musashi Challenge or its affiliates or licensors. You must not use such trademarks without the prior written permission of Musashi Challenge. Shopify’s name, logo, product and service names, designs, and slogans are trademarks of Shopify. All other names, logos, product and service names, designs, and slogans on the service are the trademarks of their respective owners.</p>
                <h2>Section 7 - Optional Tools</h2>
                <p>You may be provided with access to customer tools offered by third parties as part of the Services, which we neither monitor nor have any control over nor input.</p>
                <p>You acknowledge and agree that we provide access to such tools “as is” and “as available” without any warranties, representations, or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.</p>
                <p>Any use by you of the optional tools offered through the site is entirely at your own risk and discretion, and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s).</p>
                <p>In the future, we might introduce new features through the Services, which could include the release of new tools and resources. Such new features shall also be deemed part of the Services and are subject to these Terms of Service.</p>
                <h2>Section 8 - Third-Party Links</h2>
                <p>The Services may contain materials and hyperlinks to websites provided or operated by third parties (including any embedded third-party functionality). We are not responsible for examining or evaluating the content or accuracy of any third-party materials or websites you choose to access. If you decide to leave the Services to access these materials or third-party sites, you do so at your own risk.</p>
                <p>We are not liable for any harm or damages related to your access of any third-party websites or your purchase or use of any products, services, resources, or content on any third-party websites. Please carefully review the third party&#x27;s policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products and services should be directed to the third party.</p>
                <h2>Section 9 - Relationships with SHOPIFY</h2>
                <p>Musashi Challenge is powered by Shopify, which enables us to provide these Services to you. However, any sales and purchases you make in our Store are made directly with Musashi Challenge. By using the Services, you acknowledge and agree that Shopify is not responsible for any aspect of any sales between you and Musashi Challenge, including any injury, damage, or loss resulting from purchased products and services. You hereby expressly release Shopify and its affiliates from all claims, damages, and liabilities arising from or related to your purchases and transactions with Musashi Challenge.</p>
                <h2>Section 10 - Privacy Policy</h2>
                <p>All personal information collected through the Services is governed by our Privacy Policy, available
                  <a href="https://www.musashichallenge.com/policies/privacy-policy">here</a>, while some personal information may also be governed by Shopify’s Privacy Policy, which can be viewed
                  <a href="https://www.shopify.com/legal/privacy/app-users">here</a>. By using the Services, you acknowledge that you have read these privacy policies.</p>
                <p>Because the Services are hosted by Shopify, Shopify collects and processes personal information about your access to and use of the Services to provide and improve the Services for you. Your data will be sent to Shopify and third parties in other countries to provide services. Review our
                  <a href="https://www.musashichallenge.com/policies/privacy-policy">privacy policy</a>
                  for more details on how we, Shopify, and our partners use your personal information.</p>
                <h2>Section 11 - Feedback</h2>
                <p>If you submit, upload, post, email, or otherwise transmit any ideas, suggestions, feedback, reviews, proposals, plans, or other content (collectively, “Feedback”), you grant us a perpetual, worldwide, sublicensable, royalty-free license to use, reproduce, modify, publish, distribute, and display such Feedback in any medium for any purpose, including for commercial use. We may, for example, use our rights under this license to operate, provide, evaluate, enhance, improve, and promote the services, as well as perform our obligations and exercise our rights under the Terms of Service.</p>
                <p>You also represent and warrant that:</p>
                <p>You either own all necessary rights to the Feedback or have obtained them from the rightful owner; You have disclosed any compensation or incentives received in connection with your submission of feedback; and Your feedback will comply with these Terms.</p>
                <ul role="list">
                  <li>You either own all necessary rights to the Feedback or have obtained them from the rightful owner;</li>
                  <li>You have disclosed any compensation or incentives received in connection with your submission of feedback; and</li>
                  <li>Your feedback will comply with these Terms.</li>
                </ul>
                <p>We are and shall be under no obligation.</p>
                <p>To maintain your feedback in confidence. To pay compensation for your feedback, or To respond to your feedback.</p>
                <ul role="list">
                  <li>To maintain your feedback in confidence.</li>
                  <li>To pay compensation for your feedback, or</li>
                  <li>To respond to your feedback.</li>
                </ul>
                <p>We may, but have no obligation to, monitor, edit, or remove feedback that we determine in our sole discretion to be unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene, or otherwise objectionable or that violates any party’s intellectual property or these Terms of Service.</p>
                <p>You agree that your feedback will not violate any right of any third party, including copyright, trademark, privacy, personality, or other personal or proprietary right. You further agree that your feedback will not contain libelous or otherwise unlawful, abusive, or obscene feedback or contain any computer virus or other malware that could in any way affect the operation of the services or any related website. You may not use a false email address, pretend to be someone other than yourself, or otherwise mislead us or third parties as to the origin of any feedback. You are solely responsible for any feedback you make and its accuracy. We take no responsibility and assume no liability for any feedback posted by you or any third party.</p>
                <h2>Section 12 - Errors, Inaccuracies, and Omissions</h2>
                <p>Occasionally, there may be information on or in the Services that contains typographical errors, inaccuracies, or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times, and availability. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update information or cancel orders if any information is inaccurate at any time without prior notice, (including after you have submitted your order).</p>
                <h2>Section 13 - Prohibited Uses</h2>
                <p>You may access and use the Services for lawful purposes only. You may not access or use the Services, directly or indirectly:</p>
                <p>for any unlawful or malicious purpose; to violate any international, federal, provincial, or state regulations, rules, laws, or local ordinances; to infringe upon or violate our intellectual property rights or the intellectual property rights of others; to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or harm any of our employees or any other person; to transmit false or misleading information; to send, knowingly receive, upload, download, use, or reuse any material that does not comply with these Terms; to transmit, or procure the sending of, any advertising or promotional material, including any “junk mail,” “chain letter,” “spam,” or any other similar solicitation; to impersonate or attempt to impersonate any other person or entity; or to engage in any other conduct that restricts or inhibits anyone&#x27;s use or enjoyment of the Services, or which, as determined by us, may harm Musashi Challenge, Shopify, or users of the Services, or expose them to liability.</p>
                <ul role="list">
                  <li>for any unlawful or malicious purpose;</li>
                  <li>to violate any international, federal, provincial, or state regulations, rules, laws, or local ordinances;</li>
                  <li>to infringe upon or violate our intellectual property rights or the intellectual property rights of others;</li>
                  <li>to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or harm any of our employees or any other person;</li>
                  <li>to transmit false or misleading information;</li>
                  <li>to send, knowingly receive, upload, download, use, or reuse any material that does not comply with these Terms;</li>
                  <li>to transmit, or procure the sending of, any advertising or promotional material, including any “junk mail,” “chain letter,” “spam,” or any other similar solicitation;</li>
                  <li>to impersonate or attempt to impersonate any other person or entity; or</li>
                  <li>to engage in any other conduct that restricts or inhibits anyone&#x27;s use or enjoyment of the Services, or which, as determined by us, may harm Musashi Challenge, Shopify, or users of the Services, or expose them to liability.</li>
                </ul>
                <p>In addition, you agree not to:</p>
                <p>upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Services; reproduce, duplicate, copy, sell, resell, or exploit any portion of the Services; collect or track the personal information of others; spam, phish, pharm, pretext, spider, crawl, or scrape; or interfere with or circumvent the security features of the services, any related websites, other websites, or the Internet.</p>
                <ul role="list">
                  <li>upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Services;</li>
                  <li>reproduce, duplicate, copy, sell, resell, or exploit any portion of the Services;</li>
                  <li>collect or track the personal information of others;</li>
                  <li>spam, phish, pharm, pretext, spider, crawl, or scrape; or</li>
                  <li>interfere with or circumvent the security features of the services, any related websites, other websites, or the Internet.</li>
                </ul>
                <p>We reserve the right to suspend, disable, or terminate your account at any time, without notice, if we determine that you have violated any part of these terms.</p>
                <h2>Section 14 - Termination</h2>
                <p>We may terminate this agreement or your access to the Services (or any part thereof) in our sole discretion at any time without notice, and you will remain liable for all amounts due up to and including the date of termination.</p>
                <p>The following sections will continue to apply following any termination: Intellectual Property, Feedback, Termination, Disclaimer of Warranties, Limitation of Liability, Indemnification, Severability, Waiver, Entire Agreement, Assignment, Governing Law, Privacy Policy, and any other provisions that by their nature should survive dismissal.</p>
                <h2>Section 15 - Disclaimer of Warranties</h2>
                <p>The information presented on or through the service is made available solely for general information purposes. We do not warrant the accuracy, completeness, or usefulness of this information. Any reliance you place on such information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Services, or by anyone who may be informed of any of its contents.</p>
                <p>Except as expressly stated by Musashi Challenge, the services and all products offered through the services are provided &#x27;as is&#x27; and &#x27;as available&#x27; for your use, without any representation, warranties, or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. We do not guarantee, represent, or warrant that your use of the services will be uninterrupted, timely, secure, or error-free. Because some jurisdictions limit or disallow disclaimers of implied or other warranties, the above disclaimer might not apply to you.</p>
                <h2>Section 16 - Limitations of Liability</h2>
                <p>To the fullest extent provided by law, in no case shall Musashi Challenge, Our partners, directors, officers, employees, affiliates, agents, contractors, service providers or licensors, or those of shopify and its affiliates, be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation, lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the services or any products procured using the services, or for any other claim related in any way to your use of the services or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the services or any content (or product) posted, transmitted, or otherwise made available via the services, even if advised of their possibility.</p>
                <h2>Section 17 - Indemnification</h2>
                <p>You agree to indemnify, defend, and hold harmless Musashi Challenge, Shopify, and our affiliates, partners, officers, directors, employees, agents, contractors, licensors, and service providers from any losses, damages, liabilities, or claims, including reasonable attorneys’ fees, payable to any third party due to or arising out of</p>
                <p>Your breach of these Terms of Service or the documents they incorporate by reference, Your violation of any law or the rights of a third party, or Your access to and use of the Services.</p>
                <ul role="list">
                  <li>Your breach of these Terms of Service or the documents they incorporate by reference,</li>
                  <li>Your violation of any law or the rights of a third party, or</li>
                  <li>Your access to and use of the Services.</li>
                </ul>
                <p>We will notify you of any indemnifiable claim, provided that if you fail to notify us promptly, you are still obligated unless you are materially prejudiced. We may control the defense and settlement of such a claim at your expense, including choice of counsel, but will not settle any claim requiring non-monetary obligations from you without your consent (not to be unreasonably withheld). You will cooperate in the defense of indemnified claims, including by providing relevant documents.</p>
                <h2>Section 18 - Severability</h2>
                <p>In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.</p>
                <h2>Section 19 - Waiver; Entire Agreement</h2>
                <p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.</p>
                <p>These Terms of Service and any policies or operating rules posted by us on this site or in respect to the Service constitute the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications, and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).</p>
                <p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.</p>
                <h2>Section 20 - Assignment</h2>
                <p>You may not delegate, transfer, or assign this Agreement or any of your rights or obligations under these Terms without our prior written consent, and any such attempt will be null and void. We may transfer, assign, or delegate these terms and our rights and obligations without consent or notice to you.</p>
                <h2>Section 21 - Governing Law</h2>
                <p>These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the federal and state or territorial courts in the jurisdiction where Musashi Challenge is headquartered Cluj, Romania. You and Musashi Challenge consent to venue and personal jurisdiction in such courts.</p>
                <h2>Section 22 - Headings</h2>
                <p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these terms.</p>
                <h2>Section 23 - Changes to the Terms of Service</h2>
                <p>You can review the most current version of the Terms of Service at any time on this page.</p>
                <p>We reserve the right, in our sole discretion, to update, change, or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to examine our website periodically for changes. We will notify you of any material changes to these Terms in accordance with applicable law, and such changes will be effective on the date specified in the notice. Your continued use of or access to the Services following the posting of any changes to these Terms of Service constitutes acceptance of those changes.</p>
                <h2>Section 24 - Contact Information</h2>
                <p>Our customer service is available Monday to Friday, from 9:00 a.m. to 6:00 p.m. If you have a problem, please contact us; we answer within 24 hours.</p>
                <ul role="list">
                  <li>Email: support@musashichallenge.com</li>
                  <li>Phone: +40 744 935 141</li>
                  <li>VAT ID: RO45809673</li>
                  <li>Address: Cosașilor 3, Block 1, 2nd Floor, Apartment 23, 400627 Cluj-Napoca, Cluj, Romania</li>
                </ul>
              </div>
            </div>
            <div class="spacer-xhuge"></div>
          </div>
          <div class="line-wrapper">
            <div class="line-long"></div>
            <div class="line-short"></div>
            <div class="line-long"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <section class="footer">
    <div class="padding-global">
      <div class="container-large">
        <div data-figma-id="8805:19224" class="footer_component">
          <div data-figma-id="8805:19225" class="footer_outer-wrapper">
            <div data-figma-id="8805:19236" class="footer_inner-wrapper">
              <div data-figma-id="8805:19237" class="footer_content">
                <div data-figma-id="8805:19238" class="footer_top-wrapper">
                  <div class="footer_description-wrapper">
                    <div class="footer_description">
                      <a href="index.html" class="navbar_logo-link w-nav-brand"><img
                          width="132"
                          height="30"
                          alt=""
                          src="images/statue-logo.svg"
                          loading="lazy"
                          class="navbar_logo is-footer-logo"></a>
                      <p data-figma-id="8819:33161" class="text-size-regular is-description">The 5-Week Challenge built to help you stay consistent, focused, and in control.</p>
                    </div>
                    <div class="footer_divider"></div>
                    <div class="footer_support-links is-top">
                      <p data-figma-id="8805:19256" class="text-size-regular is-footer-link">
                        <span class="footer_contact-span">Want to know more?</span>
                        Email us:<br>support@musashichallenge.com</p>
                      <div data-figma-id="8805:19247" class="footer_copy-wrapper">
                        <p data-figma-id="8805:19248" class="text-size-regular">Copy address</p>
                        <div class="footer_icon-wrapper"><img
                            class="footer_clipboard-icon is-default"
                            src="images/copy-icon.svg"
                            data-figma-image-id="67cba6d08ae8762187a60cdf"
                            alt="Copy email to clipboard"
                            data-figma-id="8805:19249"
                            data-figma-image-hash="c4c7e1c9c021019ab4e2566d4c511a6c"
                            loading="lazy"><img
                            class="footer_clipboard-icon is-copied hidden"
                            src="images/success-copy-icon.svg"
                            data-figma-image-id="67cba6d08ae8762187a60cdf"
                            alt="Email copied to clipboard"
                            data-figma-id="8805:19249"
                            data-figma-image-hash="c4c7e1c9c021019ab4e2566d4c511a6c"
                            loading="lazy"></div>
                        <div data-copy="support@musashichallenge.com" class="js-address"></div>
                      </div>
                    </div>
                  </div>
                  <div data-figma-id="8805:19242" class="footer_menu-wrapper">
                    <div data-figma-id="8805:19253" class="footer_link-wrapper">
                      <p data-figma-id="8805:19254" class="text-size-large is-footer-menu-title">Support</p>
                      <div data-figma-id="8805:19255" class="footer_link-list">
                        <div class="footer_support-group">
                          <div class="footer_support-links is-top">
                            <a
                              data-figma-id="8805:19256"
                              href="privacy-policy.html"
                              target="_blank"
                              class="text-size-regular is-footer-link">Track Your Order</a>
                          </div>
                          <div class="footer_region-wrapper">
                            <p data-figma-id="8805:19271" class="text-size-regular is-footer-region">Region Selection:</p>
                            <div data-figma-id="8805:19247" class="placeholder">
                              <p data-figma-id="8805:19248" class="text-size-regular">Romania | $USD</p>
                              <div class="footer_icon-wrapper"><img
                                  class="footer_clipboard-icon"
                                  src="images/chevron-down.svg"
                                  data-figma-image-id="67cba6d08ae8762187a60cdf"
                                  alt=""
                                  data-figma-id="8805:19249"
                                  data-figma-image-hash="c4c7e1c9c021019ab4e2566d4c511a6c"
                                  loading="lazy"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-figma-id="8805:19243" class="footer_link-wrapper">
                      <p data-figma-id="8805:19244" class="text-size-large is-footer-menu-title">Policies</p>
                      <div class="footer_support-links is-top">
                        <a
                          data-figma-id="8805:19256"
                          href="privacy-policy.html"
                          target="_blank"
                          class="text-size-regular is-footer-link">Privacy Policy</a>
                        <a
                          data-figma-id="8805:19256"
                          href="terms-conditions.html"
                          target="_blank"
                          aria-current="page"
                          class="text-size-regular is-footer-link w--current">Terms of Service</a>
                        <a
                          data-figma-id="8805:19256"
                          href="shopping-policy.html"
                          target="_blank"
                          class="text-size-regular is-footer-link">Shopping Policy</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  data-figma-id="8805:19258"
                  href="index.html"
                  class="footer_logo-wrapper w-inline-block"><img
                    src="images/footer_logo.svg"
                    loading="lazy"
                    alt="Musashi Challenge logo"
                    class="footer_logo"></a>
                <div data-figma-id="8805:19270" class="footer_bottom-wrapper">
                  <p data-figma-id="8805:19271" class="text-size-regular is-footer-social">Watch updates with 350K+ subscribers on our YouTube channel.</p>
                  <div class="footer_bottom-divider"></div>
                  <div data-figma-id="8805:19273" class="footer_social-list">
                    <a
                      href="https://www.youtube.com/@PaytonClarkSmith"
                      target="_blank"
                      class="footer_social-link-wrapper w-inline-block"><img
                        class="footer_social-link"
                        src="images/youtube.svg"
                        data-figma-image-id="67cba6d4fb0db561d5438876"
                        alt="YouTube logo"
                        data-figma-id="8805:19285"
                        data-figma-image-hash="9c34b2d4df8bc866da65d0fdf9d5b81e"
                        loading="lazy"></a>
                  </div>
                </div>
              </div>
            </div><img
              src="images/corner_bottom-left.svg"
              loading="lazy"
              alt=""
              class="corner is-bottom-left"><img
              src="images/corner_top-left.svg"
              loading="lazy"
              alt=""
              class="corner is-top-left"><img
              src="images/corner_top-right.svg"
              loading="lazy"
              alt=""
              class="corner is-top-right"><img
              src="images/corner_bottom-right.svg"
              loading="lazy"
              alt=""
              class="corner is-bottom-right">
          </div>
          <div data-figma-id="8805:19289" class="footer_credit-wrapper">
            <p data-figma-id="8805:19290" class="text-size-small">© 2025,Musashi Challenge. All rights reserved.</p>
            <p data-figma-id="8805:19291" class="text-size-small">Built by
              <a
                href="https://www.trifdigital.com/"
                target="_blank"
                class="footer_credit-link">TrifDigital.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>