.password_button {
  color: #fff;
  text-align: center;
  background-color: #0068ff;
  border-radius: 99px;
  padding: 0.7rem 1.5rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.tab-button {
  opacity: 0.7;
  color: #151c34;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding-bottom: 16px;
  font-size: 15px;
  display: flex;
}

.tab-button.w--current {
  opacity: 1;
  color: #151c34;
  background-color: #0000;
  position: relative;
}

.button-group {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  color: #fff;
  text-align: center;
  padding: 0.75rem 2rem;
  font-family: Inter, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(92deg, #dac9a6 -47.29%, #c2a56b 23.65%, #b6934d 114.55%), #b6934d;
  box-shadow:
    0 20px 6px 0 rgba(168, 168, 168, 0),
    0 13px 5px 0 rgba(168, 168, 168, 0.01),
    0 7px 4px 0 rgba(168, 168, 168, 0.03),
    0 3px 3px 0 rgba(168, 168, 168, 0.04),
    0 1px 2px 0 rgba(168, 168, 168, 0.05);
}

.button.is-nav {
  display: flex;
  padding: 0.5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.button.is-pricing {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: linear-gradient(#b2d9ff, #3776d4);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

.button.is-pricing:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff2e,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff14,
    0 37px 15px #0068ff0a;
}

.button.is-default {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;

  justify-content: center;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  background: linear-gradient(92deg, #dac9a6 -47.29%, #c2a56b 23.65%, #b6934d 114.55%), #b6934d;
  box-shadow:
    0 20px 6px 0 rgba(168, 168, 168, 0),
    0 13px 5px 0 rgba(168, 168, 168, 0.01),
    0 7px 4px 0 rgba(168, 168, 168, 0.03),
    0 3px 3px 0 rgba(168, 168, 168, 0.04),
    0 1px 2px 0 rgba(168, 168, 168, 0.05);
}

.button.is-default:hover {
  transform: translate(0, -4px);
  /* box-shadow:
    0 2px 5px #0068ff2e,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff14,
    0 37px 15px #0068ff0a; */
}

.button.is-secondary {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  align-self: center;
  padding: 2px;
  font-size: 1.125rem;
  line-height: 1.44;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow:
    0 3px 6px #b8b8b829,
    0 11px 11px #b8b8b824,
    0 25px 15px #b8b8b814,
    0 44px 17px #b8b8b805,
    0 68px 19px #b8b8b800;
}

.button.is-secondary:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 3px 6px #b8b8b84d,
    0 11px 11px #b8b8b847,
    0 25px 15px #b8b8b829,
    0 44px 17px #b8b8b80a;
}

.button.is-secondary.pricing {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  width: 100%;
  box-shadow:
    0 3px 6px #b8b8b829,
    0 11px 11px #b8b8b824,
    0 25px 15px #b8b8b814,
    0 44px 17px #b8b8b805;
}

.button-content {
  border-radius: inherit;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.75rem 2rem;
  display: flex;
}

.button-content.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  transition: opacity 0.2s;
}

.button-content.is-small {
  padding: 0.625rem 1.25rem;
}

.button-content.is-secondary.is-icon {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  background-color: #fff;
  background-image: none;
}

.button-primary {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle at 50% 100%, #63a1ff, #2c80ff);
  border-radius: 12px;
  flex: none;
  align-self: center;
  padding: 0.75rem 2rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  transition: all 0.3s;
  position: relative;
  box-shadow:
    0 2px 5px #0068ff1c,
    0 9px 9px #0068ff1a,
    0 21px 12px #0068ff0f,
    0 37px 15px #0068ff05,
    0 57px 16px #0068ff00;
}

.button-primary:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff38,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff26,
    0 37px 15px #0068ff0a;
}

.button-primary.is-small {
  padding: 0.625rem 1.25rem;
}

.button-secondary_icon {
  display: none;
}

.hero_button-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button__note {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.benefits_button-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
}

.benefits_button-horizontal {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-primary-2 {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle at 50% 100%, #63a1ff, #2c80ff);
  border-radius: 12px;
  flex: none;
  align-self: center;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  transition: all 0.3s;
  position: relative;
  box-shadow:
    0 2px 5px #0068ff1c,
    0 9px 9px #0068ff1a,
    0 21px 12px #0068ff0f,
    0 37px 15px #0068ff05,
    0 57px 16px #0068ff00;
}

.button-primary-2:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff38,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff26,
    0 37px 15px #0068ff0a;
}

.button-primary-2.is-small {
  padding: 0.625rem 1.25rem;
}

.button-primary-2.is-small.is-icon-only {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button-primary-2.is-secondary {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  box-shadow: none;
  color: #0e213dbf;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-color: #fffc;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  display: flex;
}

.button-primary-2.is-secondary.is-alternate {
  color: #fff;
  background-color: #0000;
  border-color: #fffc;
}

.button-primary-2.is-secondary.is-icon {
  color: #0e213de6;
  border-color: #0e213de6;
}

.button-primary-2.is-tertiary {
  color: #000;
  background-color: #0000;
  border-style: none;
  padding: 0.25rem 0;
  line-height: 1;
  text-decoration: none;
}

.button-primary-2.is-tertiary.is-alternate {
  color: #fff;
  background-color: #0000;
}

.button-primary-2.is-tertiary.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: #0e213dbf;
}

.button-primary-2.is-alternate {
  box-shadow: none;
  color: #fffc;
  background-color: #0000;
  border-width: 1px;
  border-color: #fffc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.button-primary-2.is-alternate:hover {
  color: #fff;
  text-shadow: 0 0 12px #ffffffb3;
  border-color: #fffc;
  transform: none;
}

.button-primary-2.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-primary-2.is-icon-only {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
