.button {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  border-radius: 12px;
  padding: 0.75rem 2rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.1098039216), 0 9px 9px rgba(0, 104, 255, 0.1019607843), 0 21px 12px rgba(0, 104, 255, 0.0588235294), 0 37px 15px rgba(0, 104, 255, 0.0196078431), 0 57px 16px rgba(0, 104, 255, 0);
}

.button.is-pricing {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: linear-gradient(#b2d9ff, #3776d4);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

.button.is-pricing:hover {
  transform: translate(0, -4px);
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.1803921569), 0 9px 9px rgba(0, 104, 255, 0.2), 0 21px 12px rgba(0, 104, 255, 0.0784313725), 0 37px 15px rgba(0, 104, 255, 0.0392156863);
}

.button.is-default {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: linear-gradient(#b2d9ff, #3776d4);
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.1098039216), 0 9px 9px rgba(0, 104, 255, 0.1019607843), 0 21px 12px rgba(0, 104, 255, 0.0588235294), 0 37px 15px rgba(0, 104, 255, 0.0196078431);
}

.button.is-default:hover {
  transform: translate(0, -4px);
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.1803921569), 0 9px 9px rgba(0, 104, 255, 0.2), 0 21px 12px rgba(0, 104, 255, 0.0784313725), 0 37px 15px rgba(0, 104, 255, 0.0392156863);
}

.button.is-secondary {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  align-self: center;
  padding: 2px;
  font-size: 1.125rem;
  line-height: 1.44;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 3px 6px rgba(184, 184, 184, 0.1607843137), 0 11px 11px rgba(184, 184, 184, 0.1411764706), 0 25px 15px rgba(184, 184, 184, 0.0784313725), 0 44px 17px rgba(184, 184, 184, 0.0196078431), 0 68px 19px rgba(184, 184, 184, 0);
}

.button.is-secondary:hover {
  transform: translate(0, -4px);
  box-shadow: 0 3px 6px rgba(184, 184, 184, 0.3019607843), 0 11px 11px rgba(184, 184, 184, 0.2784313725), 0 25px 15px rgba(184, 184, 184, 0.1607843137), 0 44px 17px rgba(184, 184, 184, 0.0392156863);
}

.button.is-secondary.pricing {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  width: 100%;
  box-shadow: 0 3px 6px rgba(184, 184, 184, 0.1607843137), 0 11px 11px rgba(184, 184, 184, 0.1411764706), 0 25px 15px rgba(184, 184, 184, 0.0784313725), 0 44px 17px rgba(184, 184, 184, 0.0196078431);
}

.button.is-pricindsdsg {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  justify-content: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.button-content {
  border-radius: inherit;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.75rem 2rem;
  display: flex;
}

.button-content.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  transition: opacity 0.2s;
}

.button-content.is-small {
  padding: 0.625rem 1.25rem;
}

.button-content.is-secondary.is-icon {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  background-color: #fff;
  background-image: none;
}

.button-primary {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle at 50% 100%, #63a1ff, #2c80ff);
  border-radius: 12px;
  flex: none;
  align-self: center;
  padding: 0.75rem 2rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.1098039216), 0 9px 9px rgba(0, 104, 255, 0.1019607843), 0 21px 12px rgba(0, 104, 255, 0.0588235294), 0 37px 15px rgba(0, 104, 255, 0.0196078431), 0 57px 16px rgba(0, 104, 255, 0);
}

.button-primary:hover {
  transform: translate(0, -4px);
  box-shadow: 0 2px 5px rgba(0, 104, 255, 0.2196078431), 0 9px 9px rgba(0, 104, 255, 0.2), 0 21px 12px rgba(0, 104, 255, 0.1490196078), 0 37px 15px rgba(0, 104, 255, 0.0392156863);
}

.button-primary.is-small {
  padding: 0.625rem 1.25rem;
}

.button-secondary_icon {
  display: none;
}