.section_styleguide {
  background-color: #fff;
}

.styleguide_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}

.styleguide_list.is-light {
  background-color: #fafafa;
}

.styleguide_list.is-sizes-horizontal {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

.styleguide_subheading {
  z-index: 3;
  color: #0e213de6;
  background-color: #dbeafe;
  padding: 0.25rem 0.5rem;
  position: sticky;
  top: 2rem;
}

.styleguide_item-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 15rem 1fr;
  align-items: center;
}

.styleguide_label {
  color: #fff;
  white-space: nowrap;
  cursor: context-menu;
  background-color: #1b6ae9;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  display: inline-block;
}

.styleguide_label.is-html-tag {
  background-color: #be4aa5;
}

.styleguide_grid-colours {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: minmax(6rem, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: minmax(6rem, 1fr);
}

.styleguide_color {
  padding-bottom: 8rem;
}

.styleguide_color.is-dark-1 {
  background-color: #000;
}

.styleguide_color.is-light-1 {
  background-color: #fff;
}

.styleguide_color.is-light-2 {
  background-color: #f4f4f4;
}

.styleguide_color.is-brand-1 {
  background-color: #def0a4;
}

.styleguide_empty-space {
  z-index: -1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  display: flex;
  position: relative;
}

.styleguide_shadows-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.styleguide_button-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: max-content;
  grid-auto-flow: row;
  place-items: center start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
}

.styleguide_icons-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: flex;
}

.styleguide_item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 1rem;
  display: grid;
  position: relative;
}

.styleguide_item.is-stretch {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-items: stretch;
}

.styleguide_item.is-size-width {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  height: 1.75rem;
  padding-bottom: 0;
  display: flex;
}

.styleguide_empty-box {
  z-index: 0;
  background-color: #676767;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.styleguide_spacing {
  background-color: #e4e4e4;
  border: 1px dashed #d3d3d3;
}

.styleguide_size0-25 {
  width: 0.25rem;
  height: 0.25rem;
}

.styleguide_size0-5 {
  width: 0.5rem;
  height: 0.5rem;
}

.styleguide_size0-75 {
  width: 0.75rem;
  height: 0.75rem;
}

.styleguide_size1 {
  width: 1rem;
  height: 1rem;
}

.styleguide_size1-25 {
  width: 1.25rem;
  height: 1.25rem;
}

.styleguide_size1-5 {
  width: 1.5rem;
  height: 1.5rem;
}

.styleguide_size1-75 {
  width: 1.75rem;
  height: 1.75rem;
}

.styleguide_size2 {
  width: 2rem;
  height: 2rem;
}

.styleguide_size2-5 {
  width: 2.5rem;
  height: 2.5rem;
}

.styleguide_size3 {
  width: 3rem;
  height: 3rem;
}

.styleguide_size3-5 {
  width: 3.5rem;
  height: 3.5rem;
}

.styleguide_size4 {
  width: 4rem;
  height: 4rem;
}

.styleguide_size4-5 {
  width: 4.5rem;
  height: 4.5rem;
}

.styleguide_size5 {
  width: 5rem;
  height: 5rem;
}

.styleguide_size6 {
  width: 6rem;
  height: 6rem;
}

.styleguide_size7 {
  width: 7rem;
  height: 7rem;
}

.styleguide_size8 {
  width: 8rem;
  height: 8rem;
}

.styleguide_size9 {
  width: 9rem;
  height: 9rem;
}

.styleguide_size10 {
  width: 10rem;
  height: 10rem;
}

.styleguide_size11 {
  width: 11rem;
  height: 11rem;
}

.styleguide_size12 {
  width: 12rem;
  height: 12rem;
}

.styleguide_size13 {
  width: 13rem;
  height: 13rem;
}

.styleguide_size14 {
  width: 14rem;
  height: 14rem;
}

.styleguide_size15 {
  width: 15rem;
  height: 15rem;
}

.styleguide_size16 {
  width: 16rem;
  height: 16rem;
}

.styleguide_size17 {
  width: 17rem;
  height: 17rem;
}

.styleguide_size18 {
  width: 18rem;
  height: 18rem;
}

.styleguide_size19 {
  width: 19rem;
  height: 19rem;
}

.styleguide_size20 {
  width: 20rem;
  height: 20rem;
}
.styleguide_spacing-all {
  display: none;
}
.styleguide_heading-2 {
  z-index: 4;
  color: #fff;
  background-color: #3b82f6;
  padding: 0.25rem 0.5rem;
  position: sticky;
  top: 0;
}
