.button {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  border-radius: 12px;
  padding: 0.75rem 2rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  box-shadow:
    0 2px 5px #0068ff1c,
    0 9px 9px #0068ff1a,
    0 21px 12px #0068ff0f,
    0 37px 15px #0068ff05,
    0 57px 16px #0068ff00;
}

.button.is-pricing {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: linear-gradient(#b2d9ff, #3776d4);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

.button.is-pricing:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff2e,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff14,
    0 37px 15px #0068ff0a;
}

.button.is-default {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: linear-gradient(#b2d9ff, #3776d4);
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  box-shadow:
    0 2px 5px #0068ff1c,
    0 9px 9px #0068ff1a,
    0 21px 12px #0068ff0f,
    0 37px 15px #0068ff05;
}

.button.is-default:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff2e,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff14,
    0 37px 15px #0068ff0a;
}

.button.is-secondary {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  align-self: center;
  padding: 2px;
  font-size: 1.125rem;
  line-height: 1.44;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow:
    0 3px 6px #b8b8b829,
    0 11px 11px #b8b8b824,
    0 25px 15px #b8b8b814,
    0 44px 17px #b8b8b805,
    0 68px 19px #b8b8b800;
}

.button.is-secondary:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 3px 6px #b8b8b84d,
    0 11px 11px #b8b8b847,
    0 25px 15px #b8b8b829,
    0 44px 17px #b8b8b80a;
}

.button.is-secondary.pricing {
  background-image: linear-gradient(#fafafa, #f2f2f2);
  width: 100%;
  box-shadow:
    0 3px 6px #b8b8b829,
    0 11px 11px #b8b8b824,
    0 25px 15px #b8b8b814,
    0 44px 17px #b8b8b805;
}

.button.is-pricindsdsg {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  justify-content: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.button-content {
  border-radius: inherit;
  background-image: radial-gradient(circle, #63a1ff, #2c80ff);
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.75rem 2rem;
  display: flex;
}

.button-content.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  transition: opacity 0.2s;
}

.button-content.is-small {
  padding: 0.625rem 1.25rem;
}

.button-content.is-secondary.is-icon {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  background-color: #fff;
  background-image: none;
}

.button-primary {
  color: #fff;
  text-align: center;
  background-color: #fff;
  background-image: radial-gradient(circle at 50% 100%, #63a1ff, #2c80ff);
  border-radius: 12px;
  flex: none;
  align-self: center;
  padding: 0.75rem 2rem;
  font-family: Satoshi, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  transition: all 0.3s;
  position: relative;
  box-shadow:
    0 2px 5px #0068ff1c,
    0 9px 9px #0068ff1a,
    0 21px 12px #0068ff0f,
    0 37px 15px #0068ff05,
    0 57px 16px #0068ff00;
}

.button-primary:hover {
  transform: translate(0, -4px);
  box-shadow:
    0 2px 5px #0068ff38,
    0 9px 9px #0068ff33,
    0 21px 12px #0068ff26,
    0 37px 15px #0068ff0a;
}

.button-primary.is-small {
  padding: 0.625rem 1.25rem;
}

.button-secondary_icon {
  display: none;
}
